In [1]:
import numpy as np
import pandas as pd

In [2]:
fake=pd.read_csv('Fake.csv')
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [3]:
true=pd.read_csv('True.csv')
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [4]:
fake["lable"]=0
true["lable"]=1

In [5]:
fake.shape

(23481, 5)

In [6]:
fake.head()

,title,text,subject,date,lable
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [7]:
news=pd.concat([fake.iloc[:,:],true.iloc[:,:]],axis=0,ignore_index=True)

In [8]:
news.head()
news.tail()

,title,text,subject,date,lable
44893,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
44894,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
44895,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
44896,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
44897,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [9]:
news.shape

(44898, 5)

In [10]:
news.subject.unique()

array(['News', 'politics', 'Government News', 'left-news', 'US_News',
       'Middle-east', 'politicsNews', 'worldnews'], dtype=object)

In [11]:
news.isnull().sum()

title      0
text       0
subject    0
date       0
lable      0
dtype: int64

In [12]:
news.drop(["title","subject","date"],axis=1,inplace=True)

In [13]:
news.head()

                                                text  lable
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [14]:
news.text[4]

'Pope Francis used his annual Christmas Day message to rebuke Donald Trump without even mentioning his name. The Pope delivered his message just days after members of the United Nations condemned Trump s move to recognize Jerusalem as the capital of Israel. The Pontiff prayed on Monday for the  peaceful coexistence of two states within mutually agreed and internationally recognized borders. We see Jesus in the children of the Middle East who continue to suffer because of growing tensions between Israelis and Palestinians,  Francis said.  On this festive day, let us ask the Lord for peace for Jerusalem and for all the Holy Land. Let us pray that the will to resume dialogue may prevail between the parties and that a negotiated solution can finally be reached. The Pope went on to plead for acceptance of refugees who have been forced from their homes, and that is an issue Trump continues to fight against. Francis used Jesus for which there was  no place in the inn  as an analogy. Today, as the winds of war are blowing in our world and an outdated model of development continues to produce human, societal and environmental decline, Christmas invites us to focus on the sign of the Child and to recognize him in the faces of little children, especially those for whom, like Jesus,  there is no place in the inn,  he said. Jesus knows well the pain of not being welcomed and how hard it is not to have a place to lay one s head,  he added.  May our hearts not be closed as they were in the homes of Bethlehem. The Pope said that Mary and Joseph were immigrants who struggled to find a safe place to stay in Bethlehem. They had to leave their people, their home, and their land,  Francis said.  This was no comfortable or easy journey for a young couple about to have a child.   At heart, they were full of hope and expectation because of the child about to be born; yet their steps were weighed down by the uncertainties and dangers that attend those who have to leave their home behind. So many other footsteps are hidden in the footsteps of Joseph and Mary,  Francis said Sunday. We see the tracks of entire families forced to set out in our own day. We see the tracks of millions of persons who do not choose to go away, but driven from their land, leave behind their dear ones. Amen to that.Photo by Christopher Furlong/Getty Images.'

In [15]:
import itertools
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

In [16]:
lables=news["lable"]

In [17]:
x_train,x_test,y_train,y_test=train_test_split(news['text'],lables,test_size=0.2,random_state=7)

In [18]:
x_train.head
x_train.shape

(35918,)

In [19]:
y_test.head()
y_test.shape

(8980,)

In [20]:
tf_vec=TfidfVectorizer(stop_words="english",max_df=0.7)

In [21]:
tf_train=tf_vec.fit_transform(x_train)
tf_test=tf_vec.transform(x_test)

In [22]:
tf_train.shape
tf_test.shape

(8980, 111214)

In [23]:
pac=PassiveAggressiveClassifier(max_iter=60)
#fiting model
pac.fit(tf_train,y_train)

PassiveAggressiveClassifier(max_iter=60)

In [24]:
y_pred=pac.predict(tf_test)
y_pred

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

In [25]:
score=accuracy_score(y_test,y_pred)
score

0.9943207126948775

In [26]:
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 99.41%

# checking this model on new data

In [31]:
n2=pd.read_csv("news.csv")
n2.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [32]:
n2clean=n2.drop(["Unnamed: 0","title"],axis=1)

In [33]:
n2clean.head()

                                                text label
0  Daniel Greenfield, a Shillman Journalism Fello...  FAKE
1  Google Pinterest Digg Linkedin Reddit Stumbleu...  FAKE
2  U.S. Secretary of State John F. Kerry said Mon...  REAL
3  — Kaydee King (@KaydeeKing) November 9, 2016 T...  FAKE
4  It's primary day in New York and front-runners...  REAL

In [34]:
n2text=n2["text"]
n2text.shape
n2.text.head

<bound method NDFrame.head of 0       Daniel Greenfield, a Shillman Journalism Fello...
1       Google Pinterest Digg Linkedin Reddit Stumbleu...
2       U.S. Secretary of State John F. Kerry said Mon...
3       — Kaydee King (@KaydeeKing) November 9, 2016 T...
4       It's primary day in New York and front-runners...
                              ...
6330    The State Department told the Republican Natio...
6331    The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...
6332     Anti-Trump Protesters Are Tools of the Oligar...
6333    ADDIS ABABA, Ethiopia —President Obama convene...
6334    Jeb Bush Is Suddenly Attacking Trump. Here's W...
Name: text, Length: 6335, dtype: object>

In [35]:
n2_label=n2["label"]
n2_label

0       FAKE
1       FAKE
2       REAL
3       FAKE
4       REAL
        ...
6330    REAL
6331    FAKE
6332    FAKE
6333    REAL
6334    REAL
Name: label, Length: 6335, dtype: object

In [36]:
n2_lablenew=n2_label.replace(to_replace = ('FAKE','REAL'), value =(0,1))

In [37]:
n2_lablenew

0       0
1       0
2       1
3       0
4       1
       ..
6330    1
6331    0
6332    0
6333    1
6334    1
Name: label, Length: 6335, dtype: int64

In [38]:
tf_testNew=tf_vec.transform(n2text)
tf_testNew

<6335x111214 sparse matrix of type '<class 'numpy.float64'>'
	with 1632700 stored elements in Compressed Sparse Row format>

In [39]:
y_pred=pac.predict(tf_testNew)
y_pred

array([0, 0, 1, ..., 0, 1, 0], dtype=int64)

In [40]:
score=accuracy_score(n2_lablenew,y_pred)
score

0.5583267561168114

In [41]:
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 55.83%

#conclusion with this method we clearly see the over fitting of model

# NLP approch

In [42]:
x=news.drop(["lable"],axis=1)
x.head

<bound method NDFrame.head of                                                     text
0      Donald Trump just couldn t wish all Americans ...
1      House Intelligence Committee Chairman Devin Nu...
2      On Friday, it was revealed that former Milwauk...
3      On Christmas day, Donald Trump announced that ...
4      Pope Francis used his annual Christmas Day mes...
...                                                  ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...
44894  LONDON (Reuters) - LexisNexis, a provider of l...
44895  MINSK (Reuters) - In the shadow of disused Sov...
44896  MOSCOW (Reuters) - Vatican Secretary of State ...
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...

[44898 rows x 1 columns]>

In [43]:
y=news.drop(["text"],axis=1)
y.head()

   lable
0      0
1      0
2      0
3      0
4      0

In [44]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, HashingVectorizer

In [45]:
ps=PorterStemmer()
corpus=[]
for i in range (0,len(x)):
    review=re.sub("[^a-zA-Z]"," ",x["text"][i])
    review=review.lower()
    review=review.split()
    
    review=[ps.stem(word) for word in review if word not in stopwords.words("english")]
    review = " ".join(review)
    corpus.append(review)

In [51]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [42]:
review

'jakarta reuter indonesia buy sukhoi fighter jet worth billion russia exchang cash indonesian commod two cabinet minist said tuesday southeast asian countri pledg ship million worth commod addit cash pay suhkoi su fighter jet expect deliv stage start two year indonesian trade minist enggartiasto lukita said joint statement defenc minist ryamizard ryacudu detail type volum commod still negoti previous said export could includ palm oil tea coffe deal expect finalis soon indonesian state trade compani pt perusahaan perdangangan indonesia russian state conglomer rostec russia current face new round u impos trade sanction meanwhil southeast asia largest economi tri promot palm oil product amid threat cut consumpt european union countri indonesia also tri modern age air forc string militari aviat accid indonesia million trade surplu russia want expand bilater cooper tourism educ energi technolog aviat among other'

In [46]:
vector = TfidfVectorizer(max_features =5000, ngram_range=(1,3))
X = vector.fit_transform(corpus).toarray()

In [47]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=42)

In [48]:
X_train.shape

(31428, 1)

In [53]:
#we are using Naive bayes classifer 
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics

#Multinomial Naive Bayes
classifier=MultinomialNB()

In [54]:
classifier.fit(X_train, y_train)

ValueError: could not convert string to float: 'As if this news, in and of itself, is not horrific enough Deputy National Security Advisor, Ben Rhodes also reveals that Obama began negotiations with Iran as early as 2008, while radical Muslim hardliner, Mahmoud Ahmadinejad was still in power! The Obama administration cooked up a phony story to sell Americans on the Iranian nuke deal, lying that US officials were dealing with  moderates  in the Islamic theocracy who could be trusted to keep their word, it was reported Thursday.In a revealing article posted on the New York Times website, President Obama s foreign-policy guru Ben Rhodes bragged about how he helped create the false narrative because the public would not have accepted the deal had it known that Iranian hard-liners were still calling the shots.The White House line   which Rhodes says he created   was that Obama started negotiations after the supposedly moderate Hassan Rouhani was elected president in 2013.But Obama had set his sights on working out a deal with the mad mullahs as early as 2008, and negotiations actually began when strongman Mahmoud Ahmadinejad was still president.Rhodes, the deputy national security adviser for strategic communications, concedes in the article that the so-called moderate regime is not moderate at all. We re not betting on it,  he said.Despite having little foreign-policy experience, Rhodes, 38, a former aspiring novelist who grew up on the Upper East Side, was in charge of a massive White House  messaging  effort that fed the bogus line to journalists. We created an echo chamber. They were saying things that validated what we had given them to say,  he admitted in the Times interview when asked about the plethora of  experts  praising the deal in the press.The Times article, which will appear in the paper s Sunday magazine, notes Rhodes, who has a writing degree from NYU, was skilled as a  storyteller. He is adept at constructing overarching plotlines with heroes and villains, their conflicts supported by flurries of carefully chosen adjectives, quotations and leaks from named and unnamed senior officials,  reporter David Samuels writes.  He is the master shaper and retailer of Obama s foreign-policy narratives. Asked about his misleading version of the deal, Rhodes said,  In the absence of rational discourse, we are going to discourse the [expletive] out of this. We had test drives to know who was going to be able to carry our message effectively, and how to use outside groups like [the anti-nuke group] Ploughshares, the Iran Project and whomever else. So we knew the tactics that worked. We drove them crazy,  he said of Republicans and others who opposed the deal, including Israeli Prime Minister Benjamin Netanyahu.Obama, the article says, misled the public with the idea that negotiations began because of the  moderate  faction s rise in 2013. Today, after two years of negotiations, the United States, together with our international partners, has achieved something that decades of animosity has not,  Obama said last July when announcing the deal.Leon Panetta, then secretary of defense, confirmed in the article that the hard-line regime, and its military arm, was still in charge. There was not much question that the Quds Force and the supreme leader ran that country with a strong arm, and there was not much question that this kind of opposing view could somehow gain any traction,  he said. I think the whole legacy that he [Obama] was working on was,  I m the guy who s going to bring these [Mideast] wars to an end, and the last goddamn thing I need is to start another war. Without naming him, Panetta suggested Rhodes was one of several on Obama s staff who told the president only what he wanted to hear, the article says.Rhodes bashed the media for not properly reporting on foreign affairs and revealed how he fed information to reporters such as Jeffrey Goldberg of The Atlantic, a respected  Beltway insider,  as the Times called him. All these newspapers used to have foreign bureaus,  he said. Now they don t. They call us to explain to them what s happening in Moscow and Cairo. Most of the outlets are reporting on world events from Washington. The average reporter we talk to is 27 years old, and their only reporting experience consists of being around political campaigns. That s a sea change. They literally know nothing. Rhodes  assistant, Ned Price, gave an example of how they would shape the news by feeding a narrative to their  compadres  in the press corps and letting it echo across social media.For entire story: NYP'